---
// import { SEASONS_INFO, NAVIGATION } from "@data/globalConstants";
import CbgHistoryLogo from "../../assets/CbgHistoryLogo.astro";
import CbgLogo from "../../assets/CbgLogo.astro";
import VotvLogo from "../../assets/VotvLogo.astro";
import FinquesVallbonaLogo from "../../assets/FinquesVallbonaLogo.astro";
import AjuntamentGranollersLogo from "../../assets/AjuntamentGranollersLogo.astro";
import HeaderResponsive from "./HeaderResponsive.svelte";
// import DropDownMenu from '@components/header/DropDownMenu.astro';
import DropDownMenu from "./DropDownMenu.svelte";
import { getSeasonsCount } from "@data/seasonsCount";


const { listOfSeasons } = getSeasonsCount();


const headerSponsors = [
  {
    url: `https://finquesvallbona.com/`,
    src: "/finques-vallbona-logo.svg",
    alt: "Logo de Finques Ballbona",
  },
  {
    url: `https://votv.cat/`,
    src: "/votv-logo.svg",
    alt: "Logo de Vallès Oriental Televisió",
  },

  {
    url: `https://www.granollers.cat/`,
    src: "/ajuntament-granollers-logo.svg",
    alt: "Logo de l'ajuntament de Granollers",
  },
];

const headerNavigation = [
  {
    name: "temporades",
    dropdown: listOfSeasons,
  },
  {
    name: "especials",
    link: "/especials",
  },
  {
    name: "Canal YouTube",
    link: "https://www.youtube.com/@HistoriadelBasquetaGranollers",
    target: "_blank",
  },
  // { name: 'especials', link: '/la-historia/especials' },
];
---

<script>
  let prevScrollPos = window.scrollY; // Use window.scrollY instead

  window.addEventListener("scroll", () => {
    const currentScrollPos = window.scrollY; // Update to window.scrollY
    const header = document.querySelector("header");

    if (prevScrollPos > currentScrollPos) {
      // Scrolling up
      header!.style.top = "0";
    } else {
      // Scrolling down
      header!.style.top = `-${header!.offsetHeight}px`;
    }

    prevScrollPos = currentScrollPos;
  });
</script>

<header>
  <section>

    <div class="logos">
      <a href="/">
        <CbgHistoryLogo
        wd="221"
        title="Logo de La Història del Bàsquet a Granollers"
        />
      </a>
      <span class="logos-separator-line"></span>
      <a href="https://cbgranollers.cat/" target="_blank"
        ><CbgLogo wd="34.88" title="Logo del Club Bàsquet Granollers" /></a
      >
    </div>

    <nav class="nav-container">
      <ul class="nav desktop">
        {
          headerNavigation.map((item) => (
            <li>
              {item.dropdown ? (
                <DropDownMenu {item} client:only />
              ) : (
                <a href={item.link} target={item.target || ""}>{item.name.toUpperCase()}</a>
              )}
            </li>
          ))
        }
      </ul>
    </nav>
    <ul class="sponsors-container desktop">
      <li>
        <a href="https://finquesvallbona.com/" target="_blank"
          ><FinquesVallbonaLogo
            wd="120.35"
            title="Logo de Finques Vallbona"
          /></a
        >
      </li>
      <li>
        <a href="https://votv.cat/" target="_blank"
          ><VotvLogo wd="79.79" title="Logo de Vallès Oriental Televisió" /></a
        >
      </li>
      <li>
        <a href="https://www.granollers.cat/" target="_blank"
          ><AjuntamentGranollersLogo
            wd="40.76"
            title="Logo de l'Ajuntament de Granollers"
          /></a
        >
      </li>
    </ul>

    <!-- <div class="responsive">
      <HeaderResponsive client:only {NAVIGATION} {headerSponsors} />
    </div> -->
  </section>
  </header>

<style>
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--hg-header);
    background-color: var(--clr-contrast);
    background-color: rgba(243, 243, 243, 0.9);
  
    z-index: 10;
    transition: top 0.3s ease-in-out;
  }
  
  header:after {
    content: "";
    position: absolute;
    bottom: calc(
      -1 * var(--hg-separator-line)
    ); /* move it outside the header */
    height: var(--hg-separator-line);
    width: 100%;
    
    background: linear-gradient(
      90deg,
      var(--clr-accent) 35.36%,
      var(--clr-primary) 68.89%
    );
  }
  
  section {
    display: flex;
    justify-content: space-between;
    padding-inline: var(--pd-x);
  }


  section {
    
  }
  .responsive {
    display: none;
  }
  .logos {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--pd-x); */
    display: flex;
    align-items: center;
    gap: 1.44rem;
  }

  .logos-separator-line {
    align-self: stretch; /* Adjust the height as needed */
    width: 1px; /* This makes the line thin; adjust as needed */
    background-color: var(
      --clr-primary
    ); /* This is the color of the line; change as needed */
    display: inline-block; /* Necessary for alignment */
    margin-block: 0.8rem;
    /* Adjust spacing around the separator as needed */
  }

  .nav {
    /* padding-left: 23.94rem; */
    min-height: var(--hg-header);
    display: flex;
    align-items: center;
    color: var(--clr-primary);
    font-weight: var(--fnt-wg-medium);
    gap: 1.5rem;
  }

  a {
    color: var(--clr-primary);
  }

  .sponsors-container {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    right: var(--pd-x);
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    gap: 1.5rem;
  }
  @media (max-width: 1096px) {
    header:after {
      bottom: calc(-1 * var(--hg-separator-line-responsive));
      height: var(--hg-separator-line-responsive);
    }

    .desktop {
      display: none;
      padding-inline: var(--pd-x);
    }

    .responsive {
      display: block;
    }
  }
  @media (max-width: 1065px) {
    .logos {
      left: var(--pd-x-medium);
    }
  }

  @media (max-width: 648px) {
    .logos {
      left: var(--pd-x-small);
      width: 13rem;
    }
  }
</style>
