---
import { SEASONS_INFO } from "@data/globalConstants";
import CbgHistoryLogo from "../../assets/CbgHistoryLogo.astro";
import HeaderResponsive from "./HeaderResponsive.svelte";
// import DropDownMenu from '@components/header/DropDownMenu.astro';
import DropDownMenu from "./DropDownMenu.svelte";

const headerSponsors = [
  {
    url: `https://cbgranollers.cat/`,
    src: "/cbg-logo.svg",
    alt: "Logo del Club Bàsquet Granolelrs",
  },
  {
    url: `https://finquesvallbona.com/`,
    src: "/finques-vallbona-logo.svg",
    alt: "Logo de Finques Ballbona",
  },
  {
    url: `https://www.granollers.cat/`,
    src: "/ajuntament-granollers-logo.svg",
    alt: "Logo de l'ajuntament de Granollers",
  },
];

const navigation = [
  {
    name: "relats",
    dropdown: SEASONS_INFO,
  },
  {
    name: "jugadors",
    dropdown: SEASONS_INFO,
  },
  {
    name: "social",
    dropdown: SEASONS_INFO,
  },
  // { name: 'especials', link: '/la-historia/especials' },
];
---

<header>
  <section>
    <div class="logo">
      <CbgHistoryLogo />
    </div>
    <div class="desktop">

      <nav>
        <ul class="nav">
          {
            navigation.map((item) => (
              <li>
                {item.dropdown ? (
                  <DropDownMenu {item} client:only />
                ) : item.link.includes("http") ? (
                  <a href={item.link} target="_blank" rel="noopener noreferrer">
                    {item.name!.toUpperCase()}
                  </a>
                ) : (
                  <a href={item.link}>{item.name!.toUpperCase()}</a>
                )}
              </li>
            ))
          }
        </ul>
      </nav>
      <ul class="sponsors-container">
        {
          headerSponsors.map((sponsor) => (
            <li>
              <a href={sponsor.url} target="_blank" rel="noopener noreferrer">
                <img src={sponsor.src} alt={sponsor.alt} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="responsive">
      <HeaderResponsive
        client:load
        {navigation}
        {headerSponsors}
      />
    </div>
  </section>
</header>

<style>
  header {
    position: relative;
    /* display: flex;
    flex-direction: column; */
    top: 0;
    z-index: 10;
    height: var(--hg-header);
    background-color: var(--clr-contrast);
    background-color: rgba(243, 243, 243, 0.9);
  }

  header:after {
    content: "";
    position: absolute;
    bottom: calc(
      -1 * var(--hg-separator-line)
    ); /* move it outside the header */
    height: var(--hg-separator-line);
    width: 100%;
    background: linear-gradient(
      90deg,
      var(--clr-accent) 35.36%,
      var(--clr-primary) 68.89%
    );
  }
  .responsive {
    display: none;
  }
  .logo {
    position: absolute;
    top: 3rem;
    transform: translateY(-50%);
    left: var(--pd-x);
  }
  .nav {
    padding-left: 23.94rem;
    min-height: var(--hg-header);
    display: flex;
    align-items: center;
    color: var(--clr-primary);
    font-weight: var(--fnt-wg-medium);
    gap: 2rem;
  }

  a {
    color: var(--clr-primary);
  }

  .sponsors-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--pd-x);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.16rem;
  }
  @media (max-width: 1096px) {
    header:after {
      bottom: calc(-1 * var(--hg-separator-line-responsive));
      height: var(--hg-separator-line-responsive);
    }

    .desktop {
      display: none;
      padding-inline: var(--pd-x);
    }

    .responsive {
      display: block;
    }
  }
  @media (max-width: 1065px) {
    .logo {
      left: var(--pd-x-medium);
    }
  }

  @media (max-width: 648px) {
    .logo {
      left: var(--pd-x-small);
      width: 13rem;
    }
  }
</style>
