---
import type { TopFooterLinks } from 'src/types';

type Props = {
  generalLinks: TopFooterLinks['generalLinks'];
};
const { generalLinks } = Astro.props;
---

{
  generalLinks.map((item) => (
    <details>
      <summary>
        <h5>{item.title.toUpperCase()}</h5>
        <span class='arrow-icon' />
      </summary>
      <ul class='links-container'>
        {item.content.map((link) => (
          <li>
            {link.link.includes('http') ? (
              <a
                href={link.link}
                target='_blank'
                rel='noopener noreferrer'
              >
                {link.name}
              </a>
            ) : (
              <a href={link.link}>{link.name}</a>
            )}
          </li>
        ))}
      </ul>
    </details>
  ))
}

<style>
  a {
    font-size: 0.875rem;
  }

  h5 {
    font-weight: 500;
    font-size: 1.125rem;
    display: inline-block;
  }
  details > summary {
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details summary {
    cursor: pointer;
    position: relative;
    transition: margin 0.55s ease-out;
  }

  details[open] summary {
    margin-bottom: 10px;
  }
  .arrow-icon {
    position: relative;
  }
  .arrow-icon::before {
    position: absolute;
    top: 0rem;
    left: 0.5rem;
    bottom: 0rem;
    content: url('../../../collapsibleArrow.svg');
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0);
    transform-origin: 50% 44%;
    transition: 0.45s transform ease-in-out;
  }

  details[open] .arrow-icon::before {
    transform: rotate(-180deg);
  }

  .links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.65rem;
  }
</style>
